/* skills,experience,projects and contact */
.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    background:#454e56;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    background:var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#fff;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p{
    color:#fff;
    font-size: 1.7rem;
    padding-top: .5rem;
}
/*Timeline*/
.experience .timeline {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .experience .timeline .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid white;
  }
  .experience .timeline .timeline-item .tl-icon {
    position: absolute;
    left: -27px;
    top: 0;
    background-color: #27AE60;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .experience .timeline .timeline-item .tl-icon i {
    font-size: 1.3rem;
  }
  .experience .timeline .timeline-item .tl-duration {
    padding: 0.2rem 0.6rem;
    background-color: #27AE60;
    border-radius: 15px;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .experience .timeline .timeline-item h5 {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 600;
    color: #fff;
  }
  .experience .timeline .timeline-item h5 span {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
  }
  .experience .timeline .timeline-item p {
    color: #fff;
    font-size: 1.6rem;
  }
  .experience .exp{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .experience .exp img{
    height: 22rem;
    border-radius: 2rem;
  }

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    height:25rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #454e56;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#454e56;
    border-radius: .5rem;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img{
    height:75%;
    width:75%;
    -webkit-box-reflect: below  1px linear-gradient(transparent,transparent,#0004);
	transform-origin: center;
	max-width: 350px;
	transform: perspective(800px) rotateY(20deg);
	transition: 0.5s;
    
    
}

.portfolio .box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2.5rem;
    color:#fff;
    text-transform: uppercase;
}

.portfolio .box-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
}

.portfolio .box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #454e56;
    color:#fff;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}

.contact .icons-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    background:#454e56;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color:#fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#111;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:#fff;
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    
}
@media (max-width: 1450px) {
    .contact .row{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        margin-top: 30rem;
    }
}

.contact .row form{
    flex:1 1 55rem;
    background:#454e56;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #454e56;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;;
    border-bottom: .1rem solid #333;
    color:#454e56;
    text-transform: none;
    font-size: 1.8rem;
    padding:1rem 0;
    margin:1rem 0;
}
.contact .row form .box{
   padding: 1rem;
   border-radius: 1rem;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}


.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);

}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 0%; 
	left: 0%;
    margin: 2rem 1rem;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}


.atvImg-shadow {
	position: absolute;
	top: 5%; 
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}


.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#fff;
    background: #454e56;
}

.footer span{
    color:var(--main-color);
}
